.card-body{

    background-color:#fec400;
}
.bg-img{
    background-image: url(quizQuestImg.jpg);
    opacity: 80%;
}
.bgquiz-img{
    background-image: url(quizImg.jpg);
   
}
img{
    width: 100%;
} 
body{
    
    background-color: #fec40059 !important;

}
